name: Docker build & push integratie
on:
  workflow_dispatch:

jobs:
  checkout-step:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v4
        #with:
          #repository:
            #/PXL-2TIN-DevOps-Resources/calculator-app-finished
      - uses: actions/setup-node@v4
        with:
          node-version: '18'
      - run: npm install
      - run: npm test -- --coverage --coverageReporters=lcov
      
      - name: Better Test Reports Action
        uses: mridang/action-test-reporter@v1.7.0
        with:
          coverage-file: coverage/lcov.info
          working-directory: .
          upload-coverage-report: true
      - run: zip -r deployment-package.zip . -x "*.git*" "*.github*" "*.zip" "coverage/*" "node_modules/*"

      # Step 6: Log in to DockerHub
      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: my-docker-hub-namespace/my-docker-hub-repository

      # Step 5: Set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3


      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      
      # Step 7: Build and push Docker container
          #tags: ${{ secrets.DOCKERHUB_USERNAME }}/lab_3_exercise_2:latest
